.sidebar {
  display: inline-flex;
  background-color: #231f20;
  flex-direction: column;
  max-width: 300px;
  padding: 20px;
  width: 100%;
  color: #d3c7ca; }
  .sidebar hr {
    margin-bottom: 7px;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .sidebar .logo {
    cursor: pointer;
    margin-top: 20px;
    max-width: 334px;
    min-width: 334px;
    margin-left: 20px;
    background-image: url("../../../assets/logo.svg");
    background-repeat: no-repeat;
    height: 50px; }
