@font-face {
  font-family: "work_sansblack";
  src: url("./assets/worksans-black-webfont.woff2") format("woff2"),
    url("./assets/worksans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "work_sansbold";
  src: url("./assets/worksans-bold-webfont.woff2") format("woff2"),
    url("./assets/worksans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "work_sansregular";
  src: url("./assets/worksans-regular-webfont.woff2") format("woff2"),
    url("./assets/worksans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "work_sanssemibold";
  src: url("./assets/worksans-semibold-webfont.woff2") format("woff2"),
    url("./assets/worksans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$primary-color: #ed422f;
$text-color: #d3c7ca;
$bbdo-black: #231f20;
$secondary-color: #d3c7ca;
@mixin bp($point) {
  /* Breakpoint Vars */

  $desktop-size: 1280px;
  $sm-desktop-size: 1000px;
  $tablet-land: 1024px;
  $tablet-port: 768px;
  $mobile-port: 680px;
  @if $point==desktop {
    @media (max-width: $desktop-size) {
      @content;
    }
  } @else if $point==tablet-land {
    @media (max-width: $tablet-land) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: $tablet-port) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: $mobile-port) {
      @content;
    }
  }
}
.App {
  display: flex;
  flex: 1;
  min-height: 100vh;

  a {
    color: $primary-color;
  }
}
.accordion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
}
.accordion .row {
  padding: 50px 0px;
}
.accordion .carrot {
  border-radius: 100%;
  font-size: 30px;
  margin: 0 auto;
}
.accordion .partner-col {
  flex-direction: column;
  margin: 15px;
}
.accordion .partner-col img {
  margin-bottom: 25px;
}
.accordion .partner-name {
  text-transform: capitalize;
  font-weight: bold;
}

.partner-bucket {
  display: block;
  margin: 25px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.partner-bucket:last-child .accordion {
  border: 0;
}
.partner-bucket span {
  font-family: "work_sanssemibold";
  text-transform: capitalize;
}

.content {
  padding: 48px 105px;
  width: 100%;
  align-self: center;
}
.ui.search > .results .result .image + .content {
  padding: 0;
}
.carousel {
  max-width: 640px;
  min-height: 350px;
}
.carousel-control-prev {
  left: -80px;
  cursor: pointer;
}
.carousel-control-next {
  right: -80px;
  cursor: pointer;
}
.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 10px;
    bottom: -50px;
    &:hover {
      background: black;
    }
  }
  .active {
    // background-color: $bbdo-black;
  }
}
.template-wrap {
  display: flex;
  flex: 1;
}

.slide-holder {
  cursor: pointer;
  max-height: 360px;
  overflow: hidden;
  border: 4px solid white;
}
.link {
  cursor: pointer;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.back-button {
  top: 20px;
  left: 20px;
  display: none;
  font-family: "work_sansbold";
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
}
.recently-uploaded {
  background-color: $primary-color;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 870px;
}
.shadow {
  box-shadow: 0 0 0 1px red;

  &:hover {
    box-shadow: 0 0 0 3px red;
  }
}
.rp_bucket {
  margin-bottom: 50px;
  max-width: 800px;

  .info {
    background: rgba(255, 255, 255, 0.9);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "work_sansregular";
  }
}
.categories {
  width: 100%;
  background-color: white;
}
.main-page {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  background: #fff;
  flex: 1;
}

.rp_card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  max-width: calc(50% - 5px);
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.rp_card:last-child {
  margin-right: 0;
}
.partners_page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .bucket {
    margin-bottom: 100px;
    // min-width: 1200px;
    .downloadbtn_holder {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .info_and_btn {
      display: inline-flex;
      text-transform: uppercase;
      font-family: "work_sansregular";
      font-size: 12px;
      letter-spacing: 0.5em;

      h3 {
        font-family: "work_sansblack";
      }
    }
  }

  .title_text {
    font-family: "work_sansblack";
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-transform: uppercase;
    font-family: "work_sansblack";
    font-size: 32px;
  }
}
.partner-section {
  padding: 20px 0px;
  display: flex;
  flex: 1;
  justify-content: center;
  background: white;
  h3 {
    font-family: "work_sansblack";
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
.post-page {
  flex-direction: column;
  display: flex;
  color: $bbdo-black;
  flex: 1;

  h1,
  h2 {
    font-family: "work_sansblack";
    text-transform: uppercase;
  }
  h3 {
    font-family: "work_sansblack";
  }
  .text {
    text-transform: uppercase;
    font-family: "work_sansregular";
    font-size: 12px;
    letter-spacing: 0.5em;
  }
  .hero {
    margin-bottom: 20px;
    max-width: 1024px;
    width: 100%;
  }
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}
.category_page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: white;

  h2 {
    font-family: "work_sansblack";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  h4 {
    font-family: "work_sanssemibold";
    text-align: center;
  }
  .partner {
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.nopads {
  padding: 0;
}

.img_and_title {
  overflow: hidden;
  img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: all 750ms ease;
    // &:hover {
    //   width: 102%;
    //   left: -1%;
    //   top: -1%;
    // }
  }
}
.page-template {
  background: white;
  display: flex;
  flex: 1;
}
