.accordion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  padding-top: 20px;
  .row {
    padding: 50px 0px;
  }

  .carrot {
    border-radius: 100%;
    font-size: 30px;
    margin: 0 auto;
  }
  .partner-col {
    flex-direction: column;
    margin: 15px;
    img {
      margin-bottom: 25px;
    }
  }

  .partner-name {
    text-transform: capitalize;
    font-weight: bold;
  }
}
.partner-bucket {
  &:last-child {
    .accordion {
      border: 0;
    }
  }

  display: block;
  margin: 25px;
  text-align: center;
  position: relative;

  cursor: pointer;
  span {
    font-family: "work_sanssemibold";
    text-transform: capitalize;
  }
}
