.search {
  position: absolute !important;
  right: 25px;
  top: 25px;
  background: rgba(0, 0, 0, 0);
  transition: all 750ms ease; }
  .search .ui.icon.button {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0); }
    .search .ui.icon.button:hover {
      background: rgba(255, 255, 255, 0.7); }

.ui.search > .results {
  left: -100%; }

.ui.icon.input > input {
  border: 0;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  max-width: 80%;
  background: rgba(0, 0, 0, 0); }
  .ui.icon.input > input:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.ui.icon.input > i.icon:hover {
  color: black;
  background: grey; }

.search-icon {
  left: 16px;
  top: 16px; }
